<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Sentiment Analysis</title>

    <link rel="stylesheet" href="TSA.css"> 
    

</head>
<body>
    <div class="main">

        <video autoplay muted playsinline class="back-video">
            <source src="video2.mp4" type="video/mp4">
        </video>

        <form method="post" action="/predict">
            <input type="text" name="text" class="input-box" placeholder="Enter Text" style="color: rgb(0, 0, 0);">
            <button type="submit" class="button">Analyse</button>
        </form>
    </div>
</body>
</html>
